.faq{
    background-color: $background-light;

    .faq-item{
        border: none;
        :focus {
            outline: 0 !important;
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
        }
        .faq-item-header{
            
        }
    }
}