

.page-footer{
    .footer-column-title{
        font-size: 1rem;
        &::after{
            content:"";
            display: block;
            height: 3px;
            margin-top: 10px;
            background-color: $primary;
            opacity: 1;
            transition: opacity 300ms ease-in-out;
        }
    }
    .list-unstyled{
        a{
            text-decoration: none;
            color: rgba(255, 255, 255, 0.55);
            transition: all 200ms ease-in-out;

            &:hover{
                color: $primary;
                transition: all 200ms ease-in-out;
            }
        }
    }

    .social-icon{
        color:rgba(255, 255, 255, 0.55);
        transition: all 200ms ease-in-out;
        &:hover{
            color: $primary;
            transition: all 200ms ease-in-out;
        }
    }
}